In [2]:
# Import dependencies
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

# Dependencies for PostgreSQL
import json
import pandas as pd
import numpy as np
!pip install psycopg2
import re

from sqlalchemy import create_engine
from config import db_password
import time

Requirement already satisfied: psycopg2 in c:\users\schan\anaconda3\lib\site-packages (2.8.6)

In [3]:
# Files to load after being downloaded from their respective sources on Kaggle

# movies = https://www.kaggle.com/ruchi798/movies-on-netflix-prime-video-hulu-and-disney
# tv shows = https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney
# both = https://www.kaggle.com/shivamb/netflix-shows

movies = "resources/movies.csv"
tv_shows = "resources/tv_shows.csv"
both = "resources/all_netflix_titles.csv"

In [4]:
# Read the "both" CSV file into a DataFrame
both_df = pd.read_csv(both)
both_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [5]:
# Read the "movies" CSV file into a DataFrame
movies_df = pd.read_csv(movies)
movies_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [6]:
# Check datatypes
movies_df.dtypes

Unnamed: 0           int64
ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
Type                 int64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [7]:
# Focus on popular streaming service, "Netflix" dataset. Netflix = 1

movies_df = movies_df[movies_df.Netflix == 1]
movies_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3555,3555,3556,Krish Trish and Baltiboy I,2009,NaN,NaN,NaN,1,0,0,0,0,Tilak Shetty,Animation,India,"Hindi,English",65.0
3556,3556,3557,ChuChuTV Bedtime Stories & Moral Stories for K...,2019,NaN,NaN,NaN,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN
3557,3557,3558,Elles étaient en guerre 1939-1945,2015,NaN,NaN,NaN,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN
3558,3558,3559,Shikari,1991,NaN,NaN,NaN,1,0,0,0,0,"Joydip Mukherjee,Zakir Hossain","Action,Crime,Drama,Romance","Bangladesh,India",Bengali,145.0
3559,3559,3560,Pocoyo Halloween: Space Halloween,2015,NaN,NaN,NaN,1,0,0,0,0,Alfonso Rodriguez,"Animation,Short",United States,English,39.0

In [8]:
# Focus on "IMDb" ratings
movies_df = movies_df[movies_df.IMDb > 0]
movies_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3459,3459,3460,"It's Okay, Buddy",2017,NaN,3.1,NaN,1,0,0,0,0,Hani Hamdi,Comedy,Egypt,Arabic,79.0
3460,3460,3461,Behind 'The Cove',2015,NaN,3.7,NaN,1,0,0,0,0,Keiko Yagi,"Documentary,History","Japan,United States","Japanese,English",110.0
3461,3461,3462,"Edmilson Filho: Notas, Comedy about Relationships",2018,NaN,5.8,NaN,1,0,0,0,0,Halder Gomes,Comedy,Brazil,Portuguese,79.0
3462,3462,3463,Hattrick,2007,7+,4.2,NaN,1,0,0,0,0,Milan Luthria,"Comedy,Drama,Romance,Sport",India,Hindi,110.0
3468,3468,3469,EMI,2008,NaN,4.3,NaN,1,0,0,0,0,NaN,"Family,Reality-TV",NaN,NaN,44.0

In [9]:
# Drop columns
movies_df = movies_df.drop(['ID','Year', 'Age', 'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type', 'Genres', 'Country', 'Runtime', 'Directors', 'Genres', 'Language', 'Unnamed: 0', 'Rotten Tomatoes'], axis = 'columns')
movies_df

                                                  Title  IMDb
0                                             Inception   8.8
1                                            The Matrix   8.7
2                                Avengers: Infinity War   8.5
3                                    Back to the Future   8.5
4                        The Good, the Bad and the Ugly   8.8
...                                                 ...   ...
3459                                   It's Okay, Buddy   3.1
3460                                  Behind 'The Cove'   3.7
3461  Edmilson Filho: Notas, Comedy about Relationships   5.8
3462                                           Hattrick   4.2
3468                                                EMI   4.3

[3442 rows x 2 columns]

In [10]:
# Set "Title" as index to merge later on "Title" axis
movies_df = movies_df.set_index("Title")
movies_df

                                                   IMDb
Title
Inception                                           8.8
The Matrix                                          8.7
Avengers: Infinity War                              8.5
Back to the Future                                  8.5
The Good, the Bad and the Ugly                      8.8
...                                                 ...
It's Okay, Buddy                                    3.1
Behind 'The Cove'                                   3.7
Edmilson Filho: Notas, Comedy about Relationships   5.8
Hattrick                                            4.2
EMI                                                 4.3

[3442 rows x 1 columns]

In [11]:
# Read the TV shows CSV file into a DataFrame
tv_shows_df = pd.read_csv(tv_shows, index_col = 0)
tv_shows_df

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1
5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1
5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1
5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1
5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1

In [12]:
# Drop columns
tv_shows_df = tv_shows_df.drop(['Year', 'Age','Rotten Tomatoes','Hulu', 'Prime Video','Disney+','type'], axis = 'columns')
tv_shows_df

                                Title  IMDb  Netflix
0                        Breaking Bad   9.5        1
1                     Stranger Things   8.8        1
2                         Money Heist   8.4        1
3                            Sherlock   9.1        1
4                    Better Call Saul   8.7        1
...                               ...   ...      ...
5606  Tut's Treasures: Hidden Secrets   NaN        0
5607                 Paradise Islands   NaN        0
5608                      Wild Russia   NaN        0
5609                      Love & Vets   NaN        0
5610         United States of Animals   NaN        0

[5611 rows x 3 columns]

In [13]:
# Filter on "Netflix"
tv_shows_df = tv_shows_df[tv_shows_df.Netflix == 1]
tv_shows_df

                         Title  IMDb  Netflix
0                 Breaking Bad   9.5        1
1              Stranger Things   8.8        1
2                  Money Heist   8.4        1
3                     Sherlock   9.1        1
4             Better Call Saul   8.7        1
...                        ...   ...      ...
1926           The Golden Path   NaN        1
1927                JingleKids   NaN        1
1928  Sin Ellas No Hay Paraíso   NaN        1
1929         Slice of Paradise   NaN        1
1930               Two Fathers   NaN        1

[1931 rows x 3 columns]

In [14]:
# Drop "Netflix"
tv_shows_df = tv_shows_df.drop(['Netflix'], axis = 'columns')
tv_shows_df

                         Title  IMDb
0                 Breaking Bad   9.5
1              Stranger Things   8.8
2                  Money Heist   8.4
3                     Sherlock   9.1
4             Better Call Saul   8.7
...                        ...   ...
1926           The Golden Path   NaN
1927                JingleKids   NaN
1928  Sin Ellas No Hay Paraíso   NaN
1929         Slice of Paradise   NaN
1930               Two Fathers   NaN

[1931 rows x 2 columns]

In [15]:
# Set "Title" as index
tv_shows_df = tv_shows_df.set_index("Title")
tv_shows_df

                          IMDb
Title
Breaking Bad               9.5
Stranger Things            8.8
Money Heist                8.4
Sherlock                   9.1
Better Call Saul           8.7
...                        ...
The Golden Path            NaN
JingleKids                 NaN
Sin Ellas No Hay Paraíso   NaN
Slice of Paradise          NaN
Two Fathers                NaN

[1931 rows x 1 columns]

In [16]:
# Filter on "IMDb" ratings
tv_shows_df = tv_shows_df[tv_shows_df.IMDb > 0]
tv_shows_df

                        IMDb
Title
Breaking Bad             9.5
Stranger Things          8.8
Money Heist              8.4
Sherlock                 9.1
Better Call Saul         8.7
...                      ...
The Jaime Maussan Show   4.9
HooplaKidz               6.9
Trawlermen Tales         6.1
ViR: The Robot Boy       2.8
For the Win              3.0

[1811 rows x 1 columns]

In [17]:
# Create array of dataframes
first_merge = [movies_df, tv_shows_df]

In [18]:
# Concatenate into new dataframe
ratings_combined = pd.concat(first_merge)

In [19]:
# View dataframe
ratings_combined

                                IMDb
Title
Inception                        8.8
The Matrix                       8.7
Avengers: Infinity War           8.5
Back to the Future               8.5
The Good, the Bad and the Ugly   8.8
...                              ...
The Jaime Maussan Show           4.9
HooplaKidz                       6.9
Trawlermen Tales                 6.1
ViR: The Robot Boy               2.8
For the Win                      3.0

[5253 rows x 1 columns]

In [20]:
# Rename column "title" to "Title"
both_df = both_df.rename(columns = {"title": "Title"})
both_df

,show_id,type,Title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [21]:
# Use "Title" as index
both_df = both_df.set_index("Title")
both_df

,show_id,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
Title,,,,,,,,,,,
3%,s1,TV Show,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
7:19,s2,Movie,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
23:59,s3,Movie,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
9,s4,Movie,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
21,s5,Movie,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...
Zozo,s7783,Movie,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
Zubaan,s7784,Movie,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
Zulu Man in Japan,s7785,Movie,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
Zumbo's Just Desserts,s7786,TV Show,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,s7787,Movie,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [22]:
# Create new full and clean dataframe
final_combined_df = both_df.merge(ratings_combined, on='Title', how='inner')
final_combined_df

,show_id,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDb
Title,,,,,,,,,,,,
3%,s1,TV Show,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,7.4
7:19,s2,Movie,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,6.0
23:59,s3,Movie,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",4.7
9,s4,Movie,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",7.1
21,s5,Movie,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...
Zona Rosa,s7780,TV Show,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...,5.8
Zoo,s7781,Movie,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...,6.8
Zoom,s7782,Movie,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.4
Zubaan,s7784,Movie,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,6.1
Zumbo's Just Desserts,s7786,TV Show,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,6.9

In [23]:
# Export final_combined_df to CSV file
final_combined_df.to_csv("final_combined_df.csv")

In [24]:
# Export ratings_combined_df to CSV file
ratings_combined.to_csv("ratings.csv")

## Import "final_combined_df.csv" to do further cleaning

In [25]:
# Read the CSV into a DataFrame
titles_df = pd.read_csv("final_combined_df.csv")
titles_df

,Title,show_id,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDb
0,3%,s1,TV Show,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,7.4
1,7:19,s2,Movie,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,6.0
2,23:59,s3,Movie,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",4.7
3,9,s4,Movie,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",7.1
4,21,s5,Movie,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4021,Zona Rosa,s7780,TV Show,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...,5.8
4022,Zoo,s7781,Movie,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...,6.8
4023,Zoom,s7782,Movie,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.4
4024,Zubaan,s7784,Movie,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,6.1
4025,Zumbo's Just Desserts,s7786,TV Show,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,6.9

In [26]:
# Clean the dataset further by dropping unnecessary columns 
titles_df = titles_df.drop(['show_id', 'director', 'cast'], axis = 'columns')
titles_df

,Title,type,country,date_added,release_year,rating,duration,listed_in,description,IMDb
0,3%,TV Show,Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,7.4
1,7:19,Movie,Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,6.0
2,23:59,Movie,Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",4.7
3,9,Movie,United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",7.1
4,21,Movie,United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,6.8
...,...,...,...,...,...,...,...,...,...,...
4021,Zona Rosa,TV Show,Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...,5.8
4022,Zoo,Movie,India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...,6.8
4023,Zoom,Movie,United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.4
4024,Zubaan,Movie,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,6.1
4025,Zumbo's Just Desserts,TV Show,Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,6.9

In [27]:
# Convert all blank cells to "NaN"
nan_value = float("NaN")
titles_df.replace("", nan_value, inplace=True)

In [28]:
# Drop rows that dont contain a country
titles_df.dropna(subset = ["country"], inplace=True)
titles_df

,Title,type,country,date_added,release_year,rating,duration,listed_in,description,IMDb
0,3%,TV Show,Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,7.4
1,7:19,Movie,Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,6.0
2,23:59,Movie,Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",4.7
3,9,Movie,United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",7.1
4,21,Movie,United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,6.8
...,...,...,...,...,...,...,...,...,...,...
4021,Zona Rosa,TV Show,Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...,5.8
4022,Zoo,Movie,India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...,6.8
4023,Zoom,Movie,United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.4
4024,Zubaan,Movie,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,6.1
4025,Zumbo's Just Desserts,TV Show,Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,6.9

In [29]:
# Drop rows that dont contain a date_added
titles_df.dropna(subset = ["date_added"], inplace=True)
titles_df

,Title,type,country,date_added,release_year,rating,duration,listed_in,description,IMDb
0,3%,TV Show,Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,7.4
1,7:19,Movie,Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,6.0
2,23:59,Movie,Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",4.7
3,9,Movie,United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",7.1
4,21,Movie,United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,6.8
...,...,...,...,...,...,...,...,...,...,...
4021,Zona Rosa,TV Show,Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...,5.8
4022,Zoo,Movie,India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...,6.8
4023,Zoom,Movie,United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.4
4024,Zubaan,Movie,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,6.1
4025,Zumbo's Just Desserts,TV Show,Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,6.9

In [30]:
# Drop rows that dont contain a rating
titles_df.dropna(subset = ["rating"], inplace=True)
titles_df

,Title,type,country,date_added,release_year,rating,duration,listed_in,description,IMDb
0,3%,TV Show,Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,7.4
1,7:19,Movie,Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,6.0
2,23:59,Movie,Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",4.7
3,9,Movie,United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",7.1
4,21,Movie,United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,6.8
...,...,...,...,...,...,...,...,...,...,...
4021,Zona Rosa,TV Show,Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...,5.8
4022,Zoo,Movie,India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...,6.8
4023,Zoom,Movie,United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.4
4024,Zubaan,Movie,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,6.1
4025,Zumbo's Just Desserts,TV Show,Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,6.9

In [31]:
# Convert date_added column to datetime
titles_df['date_added'] =  pd.to_datetime(titles_df['date_added'])
titles_df

,Title,type,country,date_added,release_year,rating,duration,listed_in,description,IMDb
0,3%,TV Show,Brazil,2020-08-14,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,7.4
1,7:19,Movie,Mexico,2016-12-23,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,6.0
2,23:59,Movie,Singapore,2018-12-20,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",4.7
3,9,Movie,United States,2017-11-16,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",7.1
4,21,Movie,United States,2020-01-01,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,6.8
...,...,...,...,...,...,...,...,...,...,...
4021,Zona Rosa,TV Show,Mexico,2019-11-26,2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...,5.8
4022,Zoo,Movie,India,2018-07-01,2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...,6.8
4023,Zoom,Movie,United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.4
4024,Zubaan,Movie,India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,6.1
4025,Zumbo's Just Desserts,TV Show,Australia,2020-10-31,2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,6.9

In [32]:
# Number of unique values in the "listed_in" column in the dataset
titles_df['listed_in'].nunique()

400

In [33]:
# List of unique values in the "listed_in" column in the dataset
titles_df['listed_in'].unique()

array(['International TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, International Movies',
       'Horror Movies, International Movies',
       'Action & Adventure, Independent Movies, Sci-Fi & Fantasy',
       'Dramas', 'International TV Shows, TV Dramas, TV Mysteries',
       'Horror Movies, International Movies, Thrillers',
       'Dramas, Thrillers',
       'Crime TV Shows, International TV Shows, TV Dramas',
       'Crime TV Shows, Docuseries, International TV Shows',
       'Documentaries, International Movies, Sports Movies',
       'Independent Movies, Sci-Fi & Fantasy, Thrillers',
       'Comedies, Dramas, Independent Movies', 'Documentaries',
       'TV Comedies', 'Documentaries, International Movies', 'Comedies',
       'Documentaries, Sports Movies',
       'Comedies, Dramas, International Movies',
       'Comedies, International Movies',
       'Dramas, International Movies, Sports Movies',
       'British TV Shows, International TV Shows, Reality TV',
       'Horror Movies, Independent Movies, Thrillers',
       'Crime TV Shows, TV Dramas, TV Mysteries',
       'Crime TV Shows, Docuseries', 'Horror Movies, Thrillers',
       'Action & Adventure, International Movies',
       'Dramas, Independent Movies, International Movies',
       'International Movies, Music & Musicals',
       'Dramas, Independent Movies', 'Action & Adventure',
       'Action & Adventure, Dramas, International Movies',
       'Dramas, International Movies, Thrillers', 'Dramas, LGBTQ Movies',
       'Documentaries, Faith & Spirituality',
       "Kids' TV, TV Action & Adventure, TV Sci-Fi & Fantasy", "Kids' TV",
       'Children & Family Movies, Comedies', 'Action & Adventure, Dramas',
       'Dramas, Independent Movies, Romantic Movies',
       'Comedies, Independent Movies, Thrillers',
       'Docuseries, International TV Shows, Science & Nature TV',
       'Comedies, International Movies, Music & Musicals',
       'Dramas, International Movies, Romantic Movies',
       'Children & Family Movies, Dramas',
       'Children & Family Movies, Dramas, Romantic Movies',
       'Children & Family Movies, Comedies, Music & Musicals',
       'Dramas, Romantic Movies', 'Movies',
       'Action & Adventure, International Movies, Sci-Fi & Fantasy',
       'Comedies, Independent Movies', 'Comedies, Horror Movies',
       'Horror Movies, Independent Movies',
       'International TV Shows, Korean TV Shows, Romantic TV Shows',
       'Stand-Up Comedy & Talk Shows, TV Comedies',
       'Crime TV Shows, International TV Shows, Korean TV Shows',
       'Comedies, International Movies, Sports Movies',
       'Comedies, Cult Movies',
       'Dramas, Independent Movies, LGBTQ Movies',
       'International Movies, Thrillers', 'Documentaries, LGBTQ Movies',
       "Kids' TV, TV Action & Adventure, TV Comedies",
       'Anime Features, International Movies',
       'International TV Shows, TV Dramas', 'Comedies, Music & Musicals',
       'International TV Shows, TV Comedies', 'Children & Family Movies',
       'Dramas, International Movies, Music & Musicals', 'Docuseries',
       'Docuseries, Science & Nature TV, TV Comedies',
       'Children & Family Movies, Comedies, International Movies',
       'Stand-Up Comedy', 'Comedies, International Movies, Thrillers',
       'Dramas, Independent Movies, Sci-Fi & Fantasy',
       'International Movies, Sci-Fi & Fantasy',
       'Docuseries, Reality TV, Science & Nature TV',
       'British TV Shows, Docuseries, International TV Shows',
       'British TV Shows, International TV Shows, TV Comedies',
       'British TV Shows, Reality TV, Romantic TV Shows',
       'Anime Series, International TV Shows',
       'International TV Shows, Reality TV, Romantic TV Shows',
       'Comedies, International Movies, Romantic Movies',
       'TV Comedies, TV Dramas',
       'Anime Series, Crime TV Shows, International TV Shows',
       'Action & Adventure, Comedies, Dramas', "Kids' TV, TV Comedies",
       'Comedies, Independent Movies, International Movies',
       'Action & Adventure, Sci-Fi & Fantasy',
       'Children & Family Movies, Comedies, Sci-Fi & Fantasy',
       'TV Dramas, Teen TV Shows', 'Horror Movies',
       'International TV Shows, Spanish-Language TV Shows, TV Comedies',
       'Crime TV Shows, TV Action & Adventure, TV Dramas',
       'Action & Adventure, Anime Features, International Movies',
       'Comedies, Romantic Movies',
       'International Movies, Romantic Movies',
       'Action & Adventure, Classic Movies, Comedies',
       'Dramas, Independent Movies, Sports Movies',
       'Crime TV Shows, TV Dramas', 'Thrillers',
       'TV Horror, TV Mysteries, TV Thrillers', 'TV Dramas, TV Thrillers',
       'Crime TV Shows, TV Comedies, Teen TV Shows',
       'Documentaries, International Movies, Music & Musicals',
       'Dramas, Faith & Spirituality',
       'Comedies, International Movies, LGBTQ Movies',
       'Docuseries, Science & Nature TV',
       'Action & Adventure, Comedies, Cult Movies',
       'International TV Shows, TV Action & Adventure, TV Comedies',
       'International TV Shows, TV Horror, TV Thrillers',
       'International TV Shows, TV Horror, TV Mysteries',
       'International TV Shows, TV Dramas, Teen TV Shows',
       'Dramas, Sci-Fi & Fantasy, Thrillers',
       'TV Action & Adventure, TV Dramas, TV Mysteries',
       'Action & Adventure, Comedies, Sci-Fi & Fantasy',
       'Action & Adventure, Horror Movies',
       'Crime TV Shows, International TV Shows, Spanish-Language TV Shows',
       'Horror Movies, Sci-Fi & Fantasy, Thrillers',
       'Action & Adventure, Comedies, International Movies',
       'Docuseries, International TV Shows',
       'International TV Shows, TV Dramas, TV Horror',
       'International Movies, Sci-Fi & Fantasy, Thrillers',
       'Crime TV Shows, TV Action & Adventure',
       'International TV Shows, Korean TV Shows, TV Action & Adventure',
       'International TV Shows, Romantic TV Shows, TV Comedies',
       'Dramas, Sci-Fi & Fantasy',
       "Crime TV Shows, Kids' TV, TV Comedies",
       'TV Comedies, TV Dramas, Teen TV Shows',
       'Docuseries, International TV Shows, Reality TV',
       'Action & Adventure, Comedies',
       'International TV Shows, Romantic TV Shows, TV Dramas',
       "Classic & Cult TV, Kids' TV, TV Action & Adventure",
       'Horror Movies, Sci-Fi & Fantasy',
       'Children & Family Movies, Sports Movies',
       'Dramas, Independent Movies, Thrillers',
       'Independent Movies, International Movies, Thrillers',
       'British TV Shows, TV Comedies', 'Documentaries, Music & Musicals',
       'International TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Music & Musicals',
       'International TV Shows, TV Action & Adventure, TV Dramas',
       'Docuseries, Reality TV', 'Crime TV Shows, TV Dramas, TV Horror',
       'Crime TV Shows, TV Comedies, TV Dramas',
       'British TV Shows, Docuseries, Reality TV',
       'Classic Movies, Comedies, Dramas',
       'Comedies, Dramas, Romantic Movies',
       'Children & Family Movies, Documentaries, International Movies',
       'Children & Family Movies, Music & Musicals',
       'Dramas, Independent Movies, Music & Musicals',
       'British TV Shows, Docuseries',
       'Documentaries, LGBTQ Movies, Music & Musicals',
       'Dramas, Sports Movies',
       'Children & Family Movies, Documentaries, Sports Movies',
       'Dramas, International Movies, Sci-Fi & Fantasy',
       'Stand-Up Comedy & Talk Shows',
       'International TV Shows, Reality TV, TV Comedies',
       'Dramas, International Movies, LGBTQ Movies',
       'British TV Shows, International TV Shows, TV Dramas',
       'TV Action & Adventure, TV Dramas, TV Sci-Fi & Fantasy',
       'TV Action & Adventure, TV Dramas, TV Horror',
       'Action & Adventure, Anime Features, Sci-Fi & Fantasy',
       'TV Dramas, TV Mysteries, TV Thrillers',
       'International TV Shows, Reality TV',
       'Independent Movies, Thrillers',
       'Music & Musicals, Stand-Up Comedy', 'Reality TV',
       "British TV Shows, Kids' TV",
       'Crime TV Shows, TV Dramas, TV Thrillers',
       'Documentaries, International Movies, LGBTQ Movies',
       'British TV Shows, Crime TV Shows, International TV Shows',
       'Action & Adventure, Independent Movies',
       'International TV Shows, Romantic TV Shows, Spanish-Language TV Shows',
       'Comedies, Dramas', 'Cult Movies, Horror Movies',
       "Kids' TV, TV Thrillers",
       'Classic Movies, Cult Movies, Horror Movies',
       'Anime Series, Crime TV Shows, TV Thrillers',
       'Anime Series, TV Horror, TV Thrillers',
       'Action & Adventure, International Movies, Thrillers',
       'Anime Series, Teen TV Shows',
       'Comedies, International Movies, Sci-Fi & Fantasy',
       'TV Horror, TV Mysteries, Teen TV Shows',
       'TV Dramas, TV Sci-Fi & Fantasy', 'Comedies, Cult Movies, Dramas',
       'Reality TV, Teen TV Shows',
       'Docuseries, Reality TV, Teen TV Shows',
       'Classic & Cult TV, TV Comedies',
       'British TV Shows, International TV Shows, Romantic TV Shows',
       'Children & Family Movies, Comedies, Dramas',
       'TV Horror, TV Mysteries, TV Sci-Fi & Fantasy',
       'Children & Family Movies, Classic Movies, Comedies',
       'Crime TV Shows, International TV Shows, TV Action & Adventure',
       'Classic Movies, Comedies, International Movies',
       'Action & Adventure, Horror Movies, Sci-Fi & Fantasy',
       'TV Dramas, TV Sci-Fi & Fantasy, TV Thrillers',
       'Comedies, Sci-Fi & Fantasy',
       'British TV Shows, Crime TV Shows, Docuseries',
       'Action & Adventure, Independent Movies, International Movies',
       'Dramas, Faith & Spirituality, Independent Movies',
       'Action & Adventure, Dramas, Independent Movies',
       'Romantic TV Shows, TV Comedies',
       "British TV Shows, Kids' TV, TV Thrillers",
       'Action & Adventure, Romantic Movies',
       'British TV Shows, Classic & Cult TV, TV Comedies',
       'Horror Movies, Independent Movies, Sci-Fi & Fantasy',
       'TV Sci-Fi & Fantasy, TV Thrillers',
       'TV Action & Adventure, TV Comedies, TV Horror',
       'TV Action & Adventure, TV Sci-Fi & Fantasy',
       'British TV Shows, TV Horror, TV Thrillers',
       'International TV Shows, Korean TV Shows, TV Dramas',
       'International TV Shows',
       'Dramas, Music & Musicals, Sports Movies',
       'International TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       "Anime Series, Kids' TV",
       'TV Action & Adventure, TV Comedies, TV Sci-Fi & Fantasy',
       'TV Dramas', 'Reality TV, Science & Nature TV',
       'Romantic TV Shows, TV Comedies, TV Dramas',
       'Children & Family Movies, Sci-Fi & Fantasy',
       'International Movies, Music & Musicals, Thrillers',
       'Crime TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       'Romantic TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Cult Movies, International Movies',
       'Dramas, Romantic Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Dramas, Sci-Fi & Fantasy',
       'Anime Series, International TV Shows, TV Thrillers',
       'Horror Movies, International Movies, Sci-Fi & Fantasy',
       'Crime TV Shows, Docuseries, TV Mysteries',
       'Crime TV Shows, Docuseries, Science & Nature TV',
       'Comedies, Faith & Spirituality, Romantic Movies',
       'Crime TV Shows, International TV Shows, TV Comedies',
       'British TV Shows, Crime TV Shows, TV Dramas',
       'Classic Movies, Comedies, Cult Movies',
       'Cult Movies, Horror Movies, Thrillers',
       'Action & Adventure, Comedies, Independent Movies',
       "British TV Shows, Kids' TV, TV Dramas",
       'Children & Family Movies, Dramas, Faith & Spirituality',
       'Children & Family Movies, Dramas, Sports Movies',
       'TV Action & Adventure, TV Comedies',
       'International TV Shows, TV Comedies, TV Dramas',
       "Kids' TV, Spanish-Language TV Shows, Teen TV Shows", 'TV Shows',
       'Children & Family Movies, Dramas, International Movies',
       'Action & Adventure, Thrillers', 'Comedies, Sports Movies',
       "Kids' TV, TV Dramas, Teen TV Shows",
       'Romantic TV Shows, TV Dramas',
       'Children & Family Movies, Documentaries', "Kids' TV, TV Dramas",
       'Anime Series, International TV Shows, Teen TV Shows',
       'Comedies, Horror Movies, International Movies',
       'TV Comedies, Teen TV Shows',
       'Reality TV, TV Horror, TV Thrillers',
       'Classic & Cult TV, TV Horror, TV Mysteries',
       'International TV Shows, Korean TV Shows, Reality TV',
       'Action & Adventure, Comedies, Romantic Movies',
       'Children & Family Movies, Comedies, Romantic Movies',
       'Comedies, Dramas, Faith & Spirituality',
       'Dramas, Horror Movies, Sci-Fi & Fantasy',
       "British TV Shows, Kids' TV, TV Comedies",
       'International TV Shows, Korean TV Shows, TV Comedies',
       'International Movies, Music & Musicals, Romantic Movies',
       'Horror Movies, Independent Movies, International Movies',
       'Dramas, Faith & Spirituality, Romantic Movies',
       'International TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy',
       'Reality TV, TV Comedies',
       'Anime Features, Children & Family Movies, International Movies',
       'Action & Adventure, Sci-Fi & Fantasy, Thrillers',
       'Action & Adventure, Children & Family Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Children & Family Movies, Classic Movies',
       'Horror Movies, International Movies, Romantic Movies',
       'TV Action & Adventure',
       'British TV Shows, International TV Shows, Stand-Up Comedy & Talk Shows',
       'International TV Shows, Stand-Up Comedy & Talk Shows',
       'Dramas, Music & Musicals, Sci-Fi & Fantasy',
       'Documentaries, Stand-Up Comedy',
       'Classic & Cult TV, TV Action & Adventure, TV Dramas',
       'Dramas, Music & Musicals',
       'British TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, Faith & Spirituality, International Movies',
       'Comedies, Independent Movies, Romantic Movies',
       'Comedies, Cult Movies, Horror Movies',
       'Classic Movies, Documentaries',
       'Action & Adventure, Horror Movies, International Movies',
       'Classic Movies, Dramas, Music & Musicals',
       'Spanish-Language TV Shows, TV Dramas',
       'International TV Shows, Stand-Up Comedy & Talk Shows, TV Comedies',
       "Kids' TV, Korean TV Shows, TV Comedies",
       'British TV Shows, Romantic TV Shows, TV Dramas',
       'TV Dramas, TV Sci-Fi & Fantasy, Teen TV Shows',
       'Comedies, Dramas, LGBTQ Movies', 'Comedies, LGBTQ Movies',
       'Comedies, Horror Movies, Independent Movies',
       'British TV Shows, Docuseries, Science & Nature TV',
       'Action & Adventure, International Movies, Romantic Movies',
       "Kids' TV, TV Comedies, TV Dramas",
       'TV Dramas, TV Horror, TV Mysteries',
       'International Movies, Romantic Movies, Sci-Fi & Fantasy',
       'TV Action & Adventure, TV Horror, TV Sci-Fi & Fantasy',
       'Anime Features, Music & Musicals, Sci-Fi & Fantasy',
       'International TV Shows, Reality TV, Spanish-Language TV Shows',
       'TV Comedies, TV Dramas, TV Mysteries',
       'Docuseries, Spanish-Language TV Shows',
       'TV Action & Adventure, TV Dramas',
       'Docuseries, Science & Nature TV, TV Dramas',
       'International TV Shows, TV Dramas, TV Thrillers',
       'Crime TV Shows, TV Action & Adventure, TV Thrillers',
       'Anime Features, Children & Family Movies',
       'Docuseries, TV Dramas',
       'Crime TV Shows, TV Action & Adventure, TV Comedies',
       'British TV Shows, International TV Shows, TV Action & Adventure',
       'Comedies, Music & Musicals, Romantic Movies',
       'Comedies, Cult Movies, Independent Movies',
       "Kids' TV, TV Action & Adventure", 'Anime Features',
       'Action & Adventure, Horror Movies, Independent Movies',
       'British TV Shows, Classic & Cult TV, International TV Shows',
       'Action & Adventure, Documentaries, International Movies',
       'Action & Adventure, Children & Family Movies, Dramas',
       'Sci-Fi & Fantasy, Thrillers', 'TV Comedies, TV Sci-Fi & Fantasy',
       'TV Comedies, TV Sci-Fi & Fantasy, Teen TV Shows',
       'Action & Adventure, Anime Features, Children & Family Movies',
       'Documentaries, Dramas, International Movies',
       'Action & Adventure, Classic Movies, International Movies',
       'Comedies, Independent Movies, Music & Musicals',
       'Anime Series, Romantic TV Shows, Teen TV Shows',
       'TV Action & Adventure, TV Dramas, Teen TV Shows',
       'Romantic TV Shows, TV Action & Adventure, TV Dramas',
       'Crime TV Shows, TV Comedies',
       'Children & Family Movies, Comedies, Cult Movies',
       "Classic & Cult TV, Kids' TV, TV Comedies",
       'Classic Movies, Dramas, LGBTQ Movies', 'Romantic Movies',
       "Kids' TV, Spanish-Language TV Shows",
       'Documentaries, Faith & Spirituality, International Movies',
       'Action & Adventure, Children & Family Movies, Comedies',
       'Reality TV, TV Comedies, TV Horror',
       'International TV Shows, Romantic TV Shows, Teen TV Shows',
       'Action & Adventure, International Movies, Music & Musicals',
       "Kids' TV, TV Action & Adventure, TV Dramas", 'Anime Series',
       'Action & Adventure, Cult Movies', "Kids' TV, Korean TV Shows",
       'Children & Family Movies, Comedies, LGBTQ Movies',
       'Action & Adventure, Comedies, Music & Musicals',
       'Children & Family Movies, Independent Movies',
       'Classic & Cult TV, TV Dramas, TV Sci-Fi & Fantasy',
       'Docuseries, Stand-Up Comedy & Talk Shows',
       'TV Comedies, TV Horror, TV Thrillers',
       'Anime Series, Crime TV Shows',
       'Romantic TV Shows, Spanish-Language TV Shows, TV Comedies',
       'Dramas, Faith & Spirituality, Sports Movies',
       'Dramas, Romantic Movies, Sports Movies',
       'Classic & Cult TV, TV Action & Adventure, TV Sci-Fi & Fantasy',
       'Romantic TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Classic & Cult TV, TV Action & Adventure, TV Horror',
       'Classic Movies, Dramas, Thrillers',
       'Anime Series, International TV Shows, Romantic TV Shows',
       'TV Dramas, TV Mysteries, TV Sci-Fi & Fantasy',
       'Children & Family Movies, Dramas, Independent Movies',
       'Classic Movies, Independent Movies, Thrillers',
       'TV Comedies, TV Mysteries', 'Documentaries, Horror Movies',
       'Comedies, Dramas, Music & Musicals',
       "Kids' TV, TV Comedies, Teen TV Shows",
       'Comedies, Independent Movies, LGBTQ Movies',
       'Crime TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy',
       'Anime Features, International Movies, Romantic Movies',
       'Action & Adventure, Classic Movies, Cult Movies',
       'Comedies, Faith & Spirituality, International Movies',
       'Cult Movies, Dramas, Thrillers',
       'Docuseries, International TV Shows, Spanish-Language TV Shows',
       'International TV Shows, Spanish-Language TV Shows, TV Horror',
       'International TV Shows, TV Comedies, TV Sci-Fi & Fantasy',
       'Classic Movies, Dramas', 'Comedies, Dramas, Sports Movies',
       'Children & Family Movies, Comedies, Sports Movies',
       'Classic Movies, Dramas, Sports Movies',
       'Classic Movies, Dramas, Independent Movies',
       'Crime TV Shows, International TV Shows, Romantic TV Shows',
       'Horror Movies, LGBTQ Movies, Music & Musicals',
       'International TV Shows, Romantic TV Shows, TV Action & Adventure',
       'British TV Shows, Reality TV',
       'Action & Adventure, Romantic Movies, Sci-Fi & Fantasy',
       'TV Action & Adventure, TV Mysteries, TV Sci-Fi & Fantasy',
       'International TV Shows, TV Action & Adventure, TV Mysteries',
       'Children & Family Movies, Dramas, Music & Musicals',
       'Comedies, Cult Movies, LGBTQ Movies',

In [34]:
# Creating a new column called "Genre" from the "listed_in" column 
# by simplifying the string to one word to describe the genre

def genre_label(titles_df):
    if 'Crime TV Shows' in titles_df['listed_in']:
        return 'Crime'
    elif 'TV Comedies' in titles_df['listed_in']:
        return 'Comedy'
    elif 'Stand-Up Comedy & Talk Shows' in titles_df['listed_in']:
        return 'Comedy'
    elif 'Stand-Up Comedy' in titles_df['listed_in']:
        return 'Comedy'
    elif 'Comedies' in titles_df['listed_in']:
        return 'Comedy'
    elif 'TV Dramas' in titles_df['listed_in']:
        return 'Drama'
    elif 'Dramas' in titles_df['listed_in']:
        return 'Drama'
    elif 'Documentaries' in titles_df['listed_in']:
        return 'Documentaries'
    elif 'Docuseries' in titles_df['listed_in']:
        return 'Documentaries'
    elif 'Children & Family Movies' in titles_df['listed_in']:
        return 'Children'
    elif 'Teen TV Shows' in titles_df['listed_in']:
        return 'Teen'
    elif "Kids' TV" in titles_df['listed_in']:
        return 'Children'
    elif 'Horror Movies' in titles_df['listed_in']:
        return 'Horror'
    elif 'TV Horror' in titles_df['listed_in']:
        return 'Horror'
    elif 'Reality TV' in titles_df['listed_in']:
        return 'Reality'
    elif 'Action & Adventure' in titles_df['listed_in']:
        return 'Action & Adventure'
    elif 'TV Action & Adventure' in titles_df['listed_in']:
        return 'Action & Adventure'
    elif 'TV Mysteries' in titles_df['listed_in']:
        return 'Mystery'
    elif 'Classic & Cult TV' in titles_df['listed_in']:
        return 'Mystery'
    elif 'Romantic TV Shows' in titles_df['listed_in']:
        return 'Romance'
    elif 'Romantic Movies' in titles_df['listed_in']:
        return 'Romance'
    elif 'TV Sci-Fi & Fantasy' in titles_df['listed_in']:
        return 'Sci-Fi & Fantasy'
    elif 'Sci-Fi & Fantasy' in titles_df['listed_in']:
        return 'Sci-Fi & Fantasy'
    elif 'Thrillers' in titles_df['listed_in']:
        return 'Thrillers'
    elif 'Anime Series' in titles_df['listed_in']:
        return 'Anime'
    elif 'Anime Features' in titles_df['listed_in']:
        return 'Anime'
    elif 'Music & Musicals' in titles_df['listed_in']:
        return 'Musicals'
    elif 'Sports Movies' in titles_df['listed_in']:
        return 'Sports'
    else:
        return 'Other'

titles_df['Genre'] = titles_df.apply(genre_label, axis=1)

In [35]:
# Display the count of each genre created
titles_df.groupby('Genre').size()

Genre
Action & Adventure     198
Anime                   45
Children               185
Comedy                1216
Crime                  260
Documentaries          488
Drama                 1073
Horror                 185
Musicals                 4
Mystery                  2
Other                   13
Reality                 77
Romance                 55
Sci-Fi & Fantasy        21
Teen                    12
Thrillers               70
dtype: int64

In [36]:
# Re-set the index and Display the dataframe with the new genre column
titles_df = titles_df.set_index("Title")
titles_df

,type,country,date_added,release_year,rating,duration,listed_in,description,IMDb,Genre
Title,,,,,,,,,,
3%,TV Show,Brazil,2020-08-14,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,7.4,Drama
7:19,Movie,Mexico,2016-12-23,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,6.0,Drama
23:59,Movie,Singapore,2018-12-20,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",4.7,Horror
9,Movie,United States,2017-11-16,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",7.1,Action & Adventure
21,Movie,United States,2020-01-01,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,6.8,Drama
...,...,...,...,...,...,...,...,...,...,...
Zona Rosa,TV Show,Mexico,2019-11-26,2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...,5.8,Comedy
Zoo,Movie,India,2018-07-01,2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...,6.8,Drama
Zoom,Movie,United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.4,Comedy
Zubaan,Movie,India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,6.1,Drama
Zumbo's Just Desserts,TV Show,Australia,2020-10-31,2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,6.9,Reality

In [37]:
# Drop the leftover 13 titles with "Other" as their genre
other = titles_df[titles_df['Genre'] == 'Other'].index
titles_df.drop(other , inplace=True)
titles_df

,type,country,date_added,release_year,rating,duration,listed_in,description,IMDb,Genre
Title,,,,,,,,,,
3%,TV Show,Brazil,2020-08-14,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,7.4,Drama
7:19,Movie,Mexico,2016-12-23,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,6.0,Drama
23:59,Movie,Singapore,2018-12-20,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",4.7,Horror
9,Movie,United States,2017-11-16,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",7.1,Action & Adventure
21,Movie,United States,2020-01-01,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,6.8,Drama
...,...,...,...,...,...,...,...,...,...,...
Zona Rosa,TV Show,Mexico,2019-11-26,2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...,5.8,Comedy
Zoo,Movie,India,2018-07-01,2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...,6.8,Drama
Zoom,Movie,United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",4.4,Comedy
Zubaan,Movie,India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,6.1,Drama
Zumbo's Just Desserts,TV Show,Australia,2020-10-31,2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,6.9,Reality

In [38]:
# Now drop the listed_in column since it has been converted to the genre column
titles_df = titles_df.drop(['listed_in'], axis = 'columns')
titles_df

,type,country,date_added,release_year,rating,duration,description,IMDb,Genre
Title,,,,,,,,,
3%,TV Show,Brazil,2020-08-14,2020,TV-MA,4 Seasons,In a future where the elite inhabit an island ...,7.4,Drama
7:19,Movie,Mexico,2016-12-23,2016,TV-MA,93 min,After a devastating earthquake hits Mexico Cit...,6.0,Drama
23:59,Movie,Singapore,2018-12-20,2011,R,78 min,"When an army recruit is found dead, his fellow...",4.7,Horror
9,Movie,United States,2017-11-16,2009,PG-13,80 min,"In a postapocalyptic world, rag-doll robots hi...",7.1,Action & Adventure
21,Movie,United States,2020-01-01,2008,PG-13,123 min,A brilliant group of students become card-coun...,6.8,Drama
...,...,...,...,...,...,...,...,...,...
Zona Rosa,TV Show,Mexico,2019-11-26,2019,TV-MA,1 Season,An assortment of talent takes the stage for a ...,5.8,Comedy
Zoo,Movie,India,2018-07-01,2018,TV-MA,94 min,A drug dealer starts having doubts about his t...,6.8,Drama
Zoom,Movie,United States,2020-01-11,2006,PG,88 min,"Dragged from civilian life, a former superhero...",4.4,Comedy
Zubaan,Movie,India,2019-03-02,2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...,6.1,Drama
Zumbo's Just Desserts,TV Show,Australia,2020-10-31,2019,TV-PG,1 Season,Dessert wizard Adriano Zumbo looks for the nex...,6.9,Reality

In [39]:
# Export the final dataframe to a csv file
titles_df.to_csv("titles.csv")

In [40]:
# Export Pandas to PostgreSQL
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/netflix_db"
    
# Create database engine
engine = create_engine(db_string)

# Export "title_df" DataFrames to "netflix_db" PostgreSQL Database
titles_df.to_sql(name='netflix_table', con=engine, if_exists='replace')
ratings_combined.to_sql(name="ratings_table", con=engine, if_exists='replace')